*{
    padding: 0;
    margin: 0;
}

body{
    background: #6e00fd;
}

.userName{
    /* height: 50px;
    width: 50px;
    border-radius: 50%; */
    display: flex;
    justify-content: center;
    align-items: center;
}
.userImage{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    /* display: flex;
    justify-content: center;
    align-items: center; */
    background: url('../images/man.svg');
    background-size: contain;
}

form button{
    position: relative;
    /* top: 55px;
    right: 30px; */
}

.btn-logout{
    visibility: hidden;
}

.contain-game{
    height: 600px;
    width: 600px;
    border: 1px solid white;
    box-shadow: 0px 0px 4px white inset;
    border-radius: 10px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}